.contact-form {
  margin: 10px 0;
}

.contact-form input {
  margin: 5px 0;
  padding: 3px;
  font-family: 'Times New Roman', Times, serif;
}

.contact-form textarea {
  margin: 5px 0;
  padding: 3px;
  font-family: 'Times New Roman', Times, serif;
  width: 250px;
  height: 20px;
}

.contact-form button {
  margin: 5px 0;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #999;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
}
